* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/*-----First-Section-----*/
.head1 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    gap: 190px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-family: bold;
}

ul {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    gap: 23px;
}

.head2 {
    display: flex;
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    height: 485px;
    justify-content: center;
    align-items: center;
    gap: 55px;

}

.head2-con {
    flex: 0 1 455px;
}

.hero-main {
    color: #F9FAF8;
    font-weight: 600;
    font-size: 48px;
}

.hero-secondary {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
}
.sign-up {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #3882F6;
    padding: 8px 35px;
    margin-top: 15px;
    color: white;
    font-weight: 800;
    font-size: large;
}

.img-con {
    display: flex;
    flex: 0 1 300px;
    justify-content: center;
    align-items: center;
}

img {
    width: 500px;
    height: 250px;
    border-radius: 15px;
}

/*-----Second-Section-----*/
.section2 {
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
    height: 400px;
}

.section2-1 {
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 50px;
    color: #1F2937;
}

.section2-2 {
    display: flex;
    gap: 30px;
    flex: 0 1 auto;
}

.section2-2 img {
    border-radius: 15px;
    height: 200px;
    width: 300px;
}

.text-img {
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
}

/*-----Third-Section-----*/
.section3 {
    background-color: #E5E7EB;
    display: flex;
    height: 420px;
    justify-content: center;
    align-items: center;
    padding-left: 310px;
    padding-right: 310px;
    flex-direction: column;
}

.section3-1 {
    font-size: 36px;
    font-family: light italic;
    font-weight: lighter;
    color: #1F2937;
    display: flex;
    flex: 0 1 auto;
}

.section3-2 {
    display: flex;
    margin-left: 550px;
    font-size: 22px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
}

/*-----Fourth-Section-----*/
.section4 {
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.section4-a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section4-1 {
    display: flex;
    background-color: #3882F6;
    width: 1000px;
    height: 150px;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: space-around;
}

.section4-2 {
    font-size: 22px;
    font-weight: 600;
}

.section4-3 {
    color: #cccecf;
    padding-top: 5px;
}

.section4 button {
    font-family: Roboto, sans-serif;
    border: 2px white solid;
    border-radius: 8px;
    padding: 6px 30px;
    margin-top: 15px;
    color: white;
    font-weight: 800;
    font-size: large;
    background-color: #3882F6;
}

/*Footer*/
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
}

.footer1 {
    font-size: 18px;
}